{% extends 'base.html' %}

{% block content %}
<script>
    window.onload = function () {
        $('#destinations').parent('li').addClass('active');
    };
</script>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Destinations...</h1>
            <p class="lead text-muted">
                ... that lead to journeys worth telling
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for destination in destinations.all %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: Thumbnail">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">{{destination.title}}</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">{{destination.get_summary}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">{{destination.votes_total}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>

{% endblock %}